@model IEnumerable<CarX.Models.Car>

<div class="container p-3">
    <div class="row">
        <div class="col-md-4 mt-4">

        </div>
        <div class="col-md-8 p-3 text-dark">
            @if (Model.Count() > 0)
            {
                @foreach (var car in Model)
                {
                    <div class="row m-2" style="background: #fefefe; border: 2px solid #222; border-radius: 5px">
                        <div class="col-sm-6 p-3">
                            <img src="@car.Image" style="width:100%" class="rounded" alt="@car.Make @car.Model">
                        </div>
                        <div class="col-sm-6 p-2">
                            <div class="font-weight-bolder pt-2 m-0">
                                @car.Year @car.Make @car.Model @car.Trim
                            </div>

                            <div class="text-muted d-flex justify-content-between m-0">
                                <p>@car.Transmission</p>
                                <p>@car.Engine</p>
                                <p>@car.DriveTrain</p>
                            </div>
                            <div class="d-flex text-muted justify-content-between m-0">
                                <p>Ext. <div style="border: 1px solid black;padding:10px;height:50%;border-radius:50%;background:@car.Color"></div></p>
                                <p>Int. <div style="border: 1px solid black;padding:10px;height:50%;border-radius:50%;background:@car.Interior"></div></p>
                                <small class="text-muted float-right">@String.Format("{0:N0}", car.Odometer) miles</small>
                            </div>
                            <div class="d-flex text-muted justify-content-between font-weight-bolder text-primary m-0">
                                <p>₦@String.Format("{0:N2}", car.Price)</p>
                                <div class="btn-group m-1" role="group">
                                    <a asp-controller="Admin" asp-route-Id="@car.Id" asp-action="EditCar" class="btn btn-primary mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Admin" asp-route-Id="@car.Id" asp-action="DeleteCar" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p>Nothing to show here!</p>
            }
        </div>

    </div>
    <a href="#" class="fixed-bottom mb-4 mx-4 d-flex justify-content-center align-items-center" style="background: #1861ac;border-radius:50%;height:50px;width:50px;color:#fefefe;text-decoration:none;font-size:30px;font-weight:900">
        <p>↑</p>
    </a>
</div>
