@model IEnumerable<CarX.Models.AppUser>

<div class="container">
    <div class="border p-3">
        <div class="row">
            <h2 class="text-info pl-3">App Users</h2>
        </div>
        <div class="row mt-3">
            <div class="col-md-3">@*Keep empty*@</div>
            <div class="col-md-9">
                @if (Model.Count() > 0)
                {
                    foreach (var user in Model)
                    {
                        <div class="row d-flex justify-content-center border m-3">
                            <div class="col-md-4" style="max-height: 200px; max-width: 200px;">
                                <img src="@user.ImageUrl" class="img-thumbnail img-fluid" style="height:200px;width:200px;" alt="@user.FirstName @user.LastName">
                            </div>
                            <div class="col-md-4">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item font-weight-bolder text-wrap">@user.FirstName @user.LastName</li>
                                    <li class="list-group-item text-muted font-weight-bolder text-wrap">@user.Email</li>
                                    <li class="list-group-item text-wrap font-weight-bolder">@user.PhoneNumber</li>
                                    <li class="list-group-item text-wrap font-weight-bolder">@user.SignUpDate</li>
                                </ul>
                            </div>
                            <div class="col-md-4 border">
                                <div class="w-75 btn-group m-2" role="group">
                                    <a asp-controller="Admin" asp-route-Id="@user.Id" asp-action="EditUser" class="btn btn-primary mx-1">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a asp-controller="Admin" asp-route-Id="@user.Id" asp-action="DeleteUser" class="btn btn-danger mx-1">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <h2 class="text-info text-center">No records</h2>
                }

            </div>
        </div>

    </div>
</div>

